@model Lab5.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayFor(m => m.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(m => m.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            Trailer
        </dt>
        <dd class="col-sm-10">
            @{
                var youtubeVideoId = System.Web.HttpUtility.ParseQueryString(new Uri(Model.TrailerLink).Query).Get("v");
                var youtubeEmbedUrl = $"https://www.youtube.com/embed/{youtubeVideoId}";
            }
            <iframe width="640" height="360" src="@youtubeEmbedUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
